<div class="row">
    <p>
        <%= moment(startDate).isValid() ? moment(startDate).format("MMMM DD, YYYY") : 'N/A' %>
        -
        <%= moment(endDate).isValid() ? moment(endDate).format("MMMM DD, YYYY") : 'N/A' %>
    </p>
    <% for(const header of headers) { %>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card my-2">
            <div class="card-header" style="border-radius: 20px 20px 0 0;">
                <%= header.title%> <i class="fa-solid fa-circle-info mx-1 text-primary" data-toggle="tooltip"
                    title="<%= header.info%>"></i>
            </div>
            <div class="card-body">
                <%= header.value%>
            </div>
        </div>
    </div>
    <% } %>
</div>
<div class="table-responsive  mt-1">
    <table class="table table-hover stripe">
        <thead>
            <tr>
                <th>Location</th>
                <th>Services</th>
                <th>Gross Amount</th>
            </tr>
        </thead>
        <tbody>
            <% for(const location of locations) { %>
            <tr>
                <td>
                    <a class="btn-link" href="/location/<%- location.id%>">
                        <%- location.name %>
                    </a>
                </td>
                <td>
                    <%- location.serviceQty%>
                </td>
                <td>
                    <%- location.grossVolumeString%>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>
<script>

    $('[data-toggle="tooltip"]').tooltip({
        placement: function (t_el, el) {
            return (typeof $(el).data('placement') === 'undefined') ? 'right' : $(el).data('placement');
        }, trigger: 'hover'
    });

</script>