<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= lingua.location.edit%></title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../vendors/feather/feather.css">
    <link rel="stylesheet" href="../vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../vendors/typicons/typicons.css">
    <link rel="stylesheet" href="../vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../vendors/css/vendor.bundle.base.css">
    <!-- <link rel="stylesheet" href="../../css/register.css"> -->

    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- <link rel="stylesheet" href="../vendors/datatables.net-bs4/dataTables.bootstrap4.css"> -->
    <link rel="stylesheet" href="../js/select.dataTables.min.css">
    <link rel="stylesheet" href="../vendors/select2/select2.min.css">
    <link rel="stylesheet" href="../vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../images/favicon.png" />
</head>

<body class="sidebar-icon-only">
    <div class="container-scroller">
        <%- include('../partials/navbar.ejs' , {user}); %>
        <div class="container-fluid page-body-wrapper">
            <%- include('../partials/sidebar.ejs' , {user}); %>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-lg-12 d-flex flex-column">
                            <div class="row flex-grow">
                                <div class="col-12 grid-margin stretch-card">
                                    <div class="card card-rounded">
                                        <div class="card-body">
                                            <h4><%= lingua.location.edit%></h4>
                                            <% if(location) { %>
                                            <form id="form-register" class="pt-3" action="/edit-location/?url=<%- url%>"
                                                method="post">
                                                <input type="text" id="id" name="id" value="<%- location.id%>" hidden />
                                                <input type="text" id="unselectedUsers" name="unselectedUsers" value=""
                                                    hidden>
                                                <input type="text" id="newSelectedUsers" name="newSelectedUsers"
                                                    value="" hidden>

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="required" for="name"><%= lingua.name%></label>
                                                            <input autocomplete="off" value="<%-location.name%>"
                                                                type="text" id="name" name="name"
                                                                class="form-control form-control-lg" required />
                                                        </div>

                                                        <div class="form-group">
                                                            <label><%= lingua.selectServices%></label>
                                                            <select name="services" id="services"
                                                                class="form-control form-control-lg js-example-basic-multiple w-100"
                                                                multiple="multiple">
                                                                <% for(const product of products) { %>
                                                                <% var selected = (location.services.includes(product.id)) ? "selected" : "";   %>
                                                                <option value="<%= product.id%>" <%=selected%>>
                                                                    <%= product.name %></option>
                                                                <% } %>
                                                            </select>
                                                        </div>
                                                        <div class="form-check form-check-flat form-check-primary">
                                                            <label class="form-check-label">
                                                                <% var checked = (location.isActive) ? "checked" : "";   %>

                                                                <input name="isActive" type="checkbox"
                                                                    class="form-check-input"
                                                                    <%= checked%>><%= lingua.active%>
                                                                <i class="input-helper"></i></label>
                                                        </div>

                                                        <div class="form-group">
                                                            <label><%= lingua.user.selectMultiple%></label>
                                                            <select name="users" id="users"
                                                                class="form-control form-control-lg js-example-basic-multiple w-100"
                                                                multiple="multiple">
                                                                <% for(const user of users) { %>
                                                                <% var selected = (location.users.some(u => u.id === user.id)) ? "selected" : "";   %>
                                                                <option value="<%= user.id%>" <%= selected%>>
                                                                    <%= user.fullName() + ' (' + user.role + ')' %>
                                                                </option>
                                                                <% } %>
                                                            </select>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="" for="agentID"><%= lingua.agentID%></label>
                                                            <input autocomplete="off" value="<%-location.agentID%>"
                                                                type="text" id="agentID" name="agentID"
                                                                class="form-control form-control-lg" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="mt-3">

                                                        <a href="<%- url%>"
                                                            class="btn btn-block btn-light btn-lg font-weight-medium auth-form-btn float-end"><%= lingua.cancel%></a>

                                                        <button
                                                            class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn float-end"
                                                            type="submit"><%= lingua.save%></button>
                                                    </div>
                                                </div>
                                            </form>

                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-body-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <%- include('../partials/footer.ejs'); %>
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script src="../vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../vendors/chart.js/Chart.min.js"></script>
    <script src="../vendors/select2/select2.min.js"></script>
    <script src="../vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="../vendors/progressbar.js/progressbar.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../js/off-canvas.js"></script>
    <script src="../js/hoverable-collapse.js"></script>
    <script src="../js/template.js"></script>
    <script src="../js/settings.js"></script>
    <script src="../js/todolist.js"></script>
    <script src="../js/select2.js"></script>

    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="../js/jquery.cookie.js" type="text/javascript"></script>
    <script src="../js/dashboard.js"></script>
    <script src="../js/Chart.roundedBarCharts.js"></script>
    <!-- <script src="../../js/register.js"></script> -->

    <!-- End custom js for this page-->
    <script>
        let unselectedValues = [];
        let newSelectedUsers = [];

        $('#users').on("select2:unselecting", function (e) {
            console.log(e.params.args.data.id);
            let unselected = e.params.args.data.id;
            unselectedValues.push(unselected);
            document.getElementById("unselectedUsers").value = unselectedValues;

        }).trigger('change');

        $('#users').on("select2:selecting", function (e) {
            console.log("selected: " + e.params.args.data.id);
            let selected = e.params.args.data.id;
            newSelectedUsers.push(selected);
            document.getElementById("newSelectedUsers").value = newSelectedUsers;

            unselectedValues.pop(selected);
            document.getElementById("unselectedUsers").value = unselectedValues;

        }).trigger('change');
    </script>

</body>

</html>