<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Users </title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../vendors/feather/feather.css">
    <link rel="stylesheet" href="../vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../vendors/typicons/typicons.css">
    <link rel="stylesheet" href="../vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="../vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="../js/select.dataTables.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../images/favicon.png" />

</head>

<!-- <body class="sidebar-icon-only"> -->

<body>
    <div class="container-scroller">
        <%- include('../partials/navbar.ejs' , {user}); %>
        <div class="container-fluid page-body-wrapper">
            <%- include('../partials/sidebar.ejs' , {user}); %>
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-lg-12 d-flex flex-column">
                            <div class="row flex-grow">
                                <div class="col-12 grid-margin stretch-card">
                                    <div class="card card-rounded">
                                        <div class="card-body">
                                            <div class="d-sm-flex justify-content-between align-items-start">
                                                <div>
                                                    <h4 class="card-title card-title-dash">Users</h4>
                                                </div>
                                                <div>
                                                    <a href="/create-user" class="btn btn-primary btn-icon-text"
                                                        type="button"><i
                                                            class="mdi mdi-map-marker-plus btn-icon-prepend"></i>Add
                                                        User</a>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="table-responsive  mt-1">
                                                <table id="users" class="table table-hover stripe">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Role</th>
                                                            <th>Email</th>
                                                            <th>Phone</th>
                                                            <!-- <th>Plan</th> -->
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% if(users) { %>
                                                        <% for(const user of users) { %>
                                                        <tr>
                                                            <td>
                                                                <a class="btn-link" href="/view-user/<%- user.id%>">
                                                                    <%- user.personalInfo.firstName + ' ' + user.personalInfo.lastName %>
                                                                    <% if(!user.hasAllInformation) {%>
                                                                    <i class="mdi mdi-alert text-warning"
                                                                        style="padding-left: 10px;"></i>
                                                                    <%}%>
                                                                                </a>
                                                                            </td>
                                                                            <td>
                                                                                <%- user.role%>
                                                            </td>
                                                            <td>
                                                                <%- user.email%>
                                                            </td>
                                                            <td>
                                                                <%- user.personalInfo.phoneNumber %>
                                                            </td>

                                                            <!-- <td> -->
                                                            <!-- <%# user.membershipInfo.plan%> -->
                                                            <!-- </td> -->

                                                            <td>
                                                                <a href="/edit-user/<%- user.id%>?url=/users"
                                                                    type="button"
                                                                    class="btn btn-icon btn-icon-no-border no-margin">
                                                                    <i class="far fa-edit icon-sm"></i>
                                                                </a>

                                                                <a class="btn btn-icon btn-icon-no-border no-margin manage-billing-button"
                                                                    style="margin: 0;" type="submit"
                                                                    value="<%- user.billingID%>"
                                                                    email="<%- user.email%>">
                                                                    <i class="fab fa-stripe-s icon-sm"></i>
                                                                </a>

                                                                <a id="deleteBtn"
                                                                    onclick="return confirmDelete('/delete-user', '<%- user.id%>')"
                                                                    class="btn btn-icon btn-icon-no-border no-margin">
                                                                    <i class="fas fa-trash-alt icon-sm text-danger"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <% } %>
                                                        <% } %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script src="../vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../vendors/chart.js/Chart.min.js"></script>
    <script src="../vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="../vendors/progressbar.js/progressbar.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../js/off-canvas.js"></script>
    <script src="../js/hoverable-collapse.js"></script>
    <script src="../js/template.js"></script>
    <script src="../js/settings.js"></script>
    <script src="../js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->

    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" src="../js/account.js"></script>
    <script src="../js/jquery.cookie.js" type="text/javascript"></script>
    <script src="../js/dashboard.js"></script>
    <script src="../js/Chart.roundedBarCharts.js"></script>

    <!-- End custom js for this page-->
    <script src="../js/helper-functions.js"></script>
    <!-- Datatables -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
    <!-- Alerts Code -->
    <%- include('../partials/alerts.ejs', {message, alertType}); %>
    <%- include('../partials/dataTable.ejs', {tableID : '#users'}); %>
</body>

</html>