<div class="p-3">
    <h4 class="text-center"><%= lingua.service.recipe%></h4>
    <br>
    <% if(service) { %>
    <div class="col-md-12 doc-credits">
        <ul>
            <li>
                <h4>
                    <span class="bg-warning">
                        <%= lingua.service.id%>: <b><%= service.id%></b>
                    </span>
                </h4>
            </li>
            <li>
                <h4>
                    <span class="bg-warning">
                        <%= lingua.membership.product%>: <%= service?.product%>
                    </span>
                </h4>
            </li>
            <li>
                <h4><%= lingua.user.authorizedBy%>: <%= service?.authorizedBy?.email%></h4>
            </li>
            <li>
                <h4><%= lingua.inputBy%>: <%= service?.inputType%></h4>
            </li>
            <li>
                <h4><%= lingua.date%>:
                    <%= moment(service?.created_date).isValid() ? moment(service?.created_date).format(completeDateFormat) : 'N/A' %>
                </h4>
            </li>
            <li>
                <h4><%= lingua.car.name%>: <%= car?.brand%>, <%= car?.model%> (<%= car?.plate%>)</h4>
            </li>
            <li>
                <h4>
                    <%= lingua.location.name%>: <%= service?.location?.name%>
                </h4>
            </li>
        </ul>
    </div>
    <% } else { %>
    <div class="col-md-12 text-center validation-msgs">
        <i class="fas fa-8x fa-exclamation-triangle warning"></i>
        <p><%= lingua.service.notFound%>.</p>

    </div>
    <% } %>
    <div class="col-md-12 text-center">
        <button id="doneServiceBtn" class="btn btn-block btn-inverse-dark btn-lg font-weight-medium auth-form-btn"
            type="submit"><%= lingua.done%></button>
    </div>
</div>


<script>
    $("#doneServiceBtn").on("click", function (event) {
        $('#membershipDetails').empty();
        cleanInput("plateNumber");
    })
</script>