<div class="row">
    <div class="col-lg-12 card">
        <div id="useServiceUpdate">
            <div class="row">
                <% if(customer && car) { %>
                <div class="col-md-6 p-3">
                    <div class="d-flex justify-content-between align-items-start">
                        <div>
                            <h4><%= lingua.user.info%></h4>
                        </div>
                        <div class="d-flex">
                            <a href="/customers/<%- customer?.id%>" type="button" data-toggle="tooltip"
                                title="View Customer" data-toggle="tooltip" data-placement="bottom"
                                class="btn btn-icon btn-icon-no-border m-1 p-0">
                                <span class="far fa-2x fa-eye icon-sm"></span>
                            </a>
                            <a href="/car/<%- car?.id%>" type="button" data-toggle="tooltip" title="View Car"
                                data-toggle="tooltip" data-placement="bottom"
                                class="btn btn-icon btn-icon-no-border m-1 p-0">
                                <span class="fa-solid fa-car fa-2x icon-sm"></span>
                            </a>
                        </div>
                    </div>
                    <p>
                        <b>
                            <%= lingua.user.firstName%>:
                        </b>
                        <%= customer?.fullName() %>
                    </p>
                    <p>
                        <b>
                            <%= lingua.car.name%>:
                        </b>
                        <%= car?.carName()%>
                    </p>
                    <% if(car?.cancel_date) { %>
                    <p class="bg-warning">
                        <b>
                            <%= lingua.membership.validUntil%>:
                        </b>
                        <%= moment(car?.cancel_date).isValid() ? moment(car.cancel_date).format(shortDateFormat) : 'N/A' %>
                    </p>
                    <% } %>
                    <p>
                        <b><%= lingua.membership.product%>:</b>
                        <%- subscription?.data?.items.data[0].price?.product?.name%>
                    </p>
                    <p>
                        <b>
                            <%= lingua.membership.currentPeriodStart%>:
                        </b>
                        <%= moment(subscription?.data?.current_period_start * 1000).isValid() ? moment(subscription?.data?.current_period_start * 1000).format(shortDateFormat) : 'N/A' %>

                    </p>
                    <p>
                        <b>
                            <%= lingua.membership.currentPeriodEnd%>:
                        </b>
                        <%= moment(subscription?.data?.current_period_end * 1000).isValid() ? moment(subscription?.data?.current_period_end * 1000).format(shortDateFormat) : 'N/A' %>

                    </p>

                    <% if(subscription?.data?.trial_end) { %>
                    <p>
                        <b>
                            Trial Expiration Date:
                        </b>
                        <%= moment(subscription?.data?.trial_end * 1000).isValid() ? moment(subscription?.data?.trial_end * 1000).format(shortDateFormat) : 'N/A' %>

                    </p>
                    <% } %>
                </div>
                <div class="col-md-6 p-3">
                    <div class="col-md-12 text-center validation-msgs">
                        <% if(car.hasService) { %>
                        <i class="far fa-8x fa-times-circle invalid"></i>

                        <p class="alert alert-danger mt-2"><%= lingua.car.maxServiceQty%>.</p>
                        <% } else if (!car.isValid) { %>
                        <i class="far fa-8x fa-times-circle invalid"></i>

                        <p class="alert alert-danger mt-2">
                            <%= lingua.car.carExpiredOn(moment(car?.cancel_date).isValid() ? moment(car?.cancel_date).format(shortDateFormat) : 'N/A')%>:

                            <br>
                            Create another membership to use the service for this car.
                        </p>

                        <% } else { %>


                        <% if([stripeStatus.ACTIVE, stripeStatus.TRIALING].includes(subscription?.data?.status)) { %>
                        <i class="fas fa-8x fa-check-circle valid"></i>
                        <p style="text-transform: uppercase" title="Membership Status" data-toggle="tooltip"
                            data-placement="bottom">
                            <%= subscription?.data?.status %>
                        </p>

                        <% } else if([stripeStatus.CANCELED, stripeStatus.UNPAID, stripeStatus.NONE].includes(subscription?.data?.status)) { %>
                        <i class="far fa-8x fa-times-circle invalid"></i>
                        <p style="text-transform: uppercase" title="Membership Status" data-toggle="tooltip"
                            data-placement="bottom">
                            <%= subscription?.data?.status %>
                        </p>
                        <% } %>


                        <% if([stripeStatus.CANCELED].includes(subscription?.data?.status)) { %>
                        <button id="renew-btn" user-id="<%= customer?.id%>" car-id="<%= car?.id%>"
                            inputType="<%= inputType%>" onclick="renewSubscriptionTrigger(this)"
                            class="btn btn-block btn-outline-primary btn-lg font-weight-medium btn-icon-text m-1 p2 w-100"
                            type="submit">
                            Renovar

                            <i class="fa-solid fa-repeat btn-icon-apepend m-2"></i>
                        </button>
                        <% } %>
                        <div class="mt-3 mb-3">
                            <% var subscriptionOnValidPeriod = moment(new Date()).isBefore(subscription?.data?.current_period_end * 1000) %>
                            <% if(subscriptionOnValidPeriod) { %>

                            <% if(!car?.hasService) { %>
                            <button id="use-service-button" user-id="<%= customer?.id%>" car-id="<%= car?.id%>"
                                inputType="<%= inputType%>" onclick="confirmValidation(this)"
                                class="btn btn-block btn-outline-success btn-lg font-weight-medium btn-icon-text m-1 p-2 w-100"
                                type="submit">
                                <%= lingua.service.use%>

                                <i class="fa-solid fa-circle-check btn-icon-apepend m-2"></i>
                            </button>
                            <% } %>
                            <% } %>
                        </div>
                        <% } %>

                    </div>
                </div>
                <% } else if(!car){ %>
                <div class="col-md-12 text-center validation-msgs">
                    <i class="fas fa-4x fa-exclamation-triangle warning"></i>
                    <p><%= lingua.car.notFound%>.</p>
                    <div class="">
                        <div class="card-body text-center">
                            <h2><i class="fa-solid fa-car mx-1 text-primary" data-toggle="tooltip"
                                    data-placement="right" title="Car"></i> <%= carPlate%>
                            </h2>
                            <button id="subscribe-btn" value="<%= carPlate%>"
                                class="btn btn-block btn-sm-block btn-outline-primary btn-lg font-weight-medium btn-icon-text m-1 p2 w-50">
                                <%= lingua.subscribe%>
                            </button>

                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
<script>

    $('[data-toggle="tooltip"]').tooltip({
        placement: function (t_el, el) {
            return (typeof $(el).data('placement') === 'undefined') ? 'bottom' : $(el).data('placement');
        }, trigger: 'hover'
    });

    function confirmValidation(element) {

        const userID = element.getAttribute("user-id");
        const carID = element.getAttribute("car-id");
        const inputType = element.getAttribute("inputType");

        console.log(`confirmValidation: userID: ${userID} - carID: ${carID} - inputType: ${inputType}`)

        $.ajax({
            url: "/useService",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({
                userID: userID,
                carID: carID,
                inputType: inputType
            }),
            beforeSend: function () {
                showResult('#useServiceUpdate',
                    `<div class="spinner text-center p-5">
                            <div class="spinner-grow"></div>
                    </div>`
                );

            }
        }).done(function (result) {
            showResult('#useServiceUpdate', result);
            // cleanInput("tagNumber");
        }).fail(function (err) {
            console.log(err);
        })

    }
    // popup allowed
    $("#subscribe-btn").on("click", function (event) {
        // window.open('https://javascript.info');
        let carPlate = $(this).val();
        let params = `scrollbars=no,resizable=no,status=no,location=no,toolbar=no,
                    menubar=no,width=400,height=600,left=1000,top=20`;

        open(`/subscribe?carPlate=${carPlate}`, 'subscribe', params);
    });

    function renewSubscriptionTrigger(element) {
        // TODO: implement function
    }
</script>