<h4>Membership Status</h4>
<div class="row">
    <div class="col-lg-12">
        <% if(customer) { %>

        <div class="row">
            <div class="col-md-8">
                <p>
                    <b>
                        Name:
                    </b>
                    <%- customer?.personalInfo.firstName%>
                </p>

                <p>
                    <b>
                        Email:
                    </b>
                    <%- customer?.email%>
                </p>
                <p>
                    <b>
                        Car Brand:
                    </b>
                    <%- customer.carInfo.brand%>

                </p>
                <p>
                    <b>
                        Model:
                    </b>
                    <%- customer.carInfo.model%>
                </p>
                <p>
                    <b>
                        Plate:
                    </b>
                    <%- customer.carInfo.plate%>
                </p>

                <p>
                    <b>
                        Membership:
                    </b>
                    <span style="text-transform: uppercase;">
                        <%- membershipStatus%>
                    </span>
                </p>
                <p>
                    <b>
                        Current Period End Start:
                    </b>
                    <%= moment(stripeSubscription?.current_period_start * 1000).isValid() ? moment(stripeSubscription?.current_period_start * 1000).format(completeDateFormat) : 'N/A' %>

                </p>
                <p>
                    <b>
                        Current Period End Date:
                    </b>
                    <%= moment(stripeSubscription?.current_period_end * 1000).isValid() ? moment(stripeSubscription?.current_period_end * 1000).format(completeDateFormat) : 'N/A' %>

                </p>

                <% if(stripeSubscription?.trial_end) { %>
                <p>
                    <b>
                        Trial Expiration Date:
                    </b>
                    <%= moment(stripeSubscription?.trial_end * 1000).isValid() ? moment(stripeSubscription?.trial_end * 1000).format(completeDateFormat) : 'N/A' %>

                </p>
                <% } %>

            </div>
            <div class="col-md-4 text-center">
                <% if([stripeStatus.ACTIVE, stripeStatus.TRIALING].includes(membershipStatus)) { %>
                <i class="fas fa-4x fa-check-circle valid"></i>
                <p>Valid Membership</p>
                <%}else if(membershipStatus==stripeStatus.CANCELED){%>
                <i class="far fa-4x fa-times-circle invalid"></i>
                <p>Canceled Membership</p>
                <%}else if(membershipStatus==stripeStatus.UNPAID){%>
                <i class="far fa-4x fa-times-circle invalid"></i>
                <p>Unpaid Membership</p>
                <%}else if(membershipStatus==stripeStatus.NONE){%>
                <i class="far fa-4x fa-times-circle invalid"></i>
                <p>This user don't have Membership</p>
                <%}%>
            </div>
        </div>
            <% } else { %>
                <p>Customer not found.</p>
                <% } %>
            </div>
        </div>