<div class="d-sm-flex justify-content-between align-items-start">
    <div>
        <h4 class="card-title card-title-dash">Subscriptions</h4>
    </div>
</div>
<br>
<div class="table-responsive  mt-1">
    <% if(showManageBtn) { %>
    <div class="d-sm-flex justify-content-between align-items-start float-end">
        <a id="manage-billing-button" class="btn btn-primary btn-icon-text manage-billing-button" style="margin: 0;"
            type="submit" value="<%- customer.billingID%>" email="<%- customer.email%>">
            <i class="fab fa-stripe-s"></i> Manage Billing</a>
    </div>
    <% } %>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Membership Information</th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Products/Cars</td>
                <td>
                    <% for(item of stripeSubscription.items.data) { %>
                    <p>
                        <b><%- item.price.product.name %></b> (<%= item.cars.length %>/<%= item.quantity%>)
                    </p>
                    <ul class="mb-0">
                        <!-- Show all item cars -->
                        <% if(item.cars.length > 0) { %>
                        <% for(car of item.cars) { %>
                        <li style="margin-left: 10px">
                            <%- car.brand %> - <%- car.model %> - <%- car.plate %>
                        </li>
                        <% } %>
                        <% } %>

                        <!-- If the length of cars is less than item quantity, then show add car btn. -->
                        <% if(item.cars.length < item.quantity) { %>
                        <a href="/create-car?itemID=<%- item.id%>" id="add-car-button"
                            class="btn btn-primary text-white" style="margin: 0;" type="submit">
                            Add Missing Car</a>
                        <% } %>
                    </ul>
                    <% } %>
                </td>
            </tr>
            <tr>
                <td>Status</td>
                <td> <span style="text-transform: uppercase;">
                        <%- membershipStatus%>
                    </span></td>
            </tr>
            <tr>
                <td>
                    Current Period Start
                </td>
                <td>
                    <%= moment(stripeSubscription?.current_period_start * 1000).isValid() ? moment(stripeSubscription?.current_period_start * 1000).format(completeDateFormat) : 'N/A' %>
                </td>
            </tr>
            <tr>
                <td>
                    Current Period End
                </td>
                <td>
                    <%= moment(stripeSubscription?.current_period_end * 1000).isValid() ? moment(stripeSubscription?.current_period_end * 1000).format(completeDateFormat) : 'N/A' %>
                </td>
            </tr>
        </tbody>
    </table>
</div>